form {
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid #dfdfdf;
  padding: 15px;
  border-radius: 10px;
}
.editFriend {
  width: 250px;
}

.addFriend {
  width: 500px;
}

.centerBtn {
  display: block;
  margin: auto;
}

.hide {
  display: none;
}
